obj/*
*.log
*.idx
*.old
*.ilg
*.ind
*.aux
*.bbl
*.blg
*.cb*
*.lof
*.lot
*.out
Source/Part1/Part1.pdf
source/part2/part2.pdf
source/part3/part3.pdf
*.gz
*.zip
*.toc
*.*glg
*.*glo
*.*gls
*.xdy
*.acn
*.acr
*.alg
*.epub

